body{
 
    background-color: #EEE3CB ;
    
}
hr{
    border-style:none;
    border-top-style: dotted ;
    background-color: #EEE3CB;
    border-width: 5px;
   width: 5%;
  
}
h1{
    color: #B7C4CF;
}
h3{
    color: #D7C0AE;
}
td{
    color: #967E76;
}
li{
    color: #967E76;
}
label{
    color: #967E76;
}
a{
    color: #967E76;
}
th{
    color: #967E76;
}